<div class="topic">
  <h2 class="normal">🔢 <a href="/upsc-csat-maths/" style="text-decoration: none">CSAT Mathematics</a></h2>
  {{#get "posts" filter="primary_tag:upsc-csat-maths" limit="5"}}
    {{#foreach posts}}
      <a href="{{url}}" title="{{title}}" class="article-link color-text nolink">{{title}}</a>
    {{/foreach}}
  {{/get}}
  <a href="/upsc-csat-maths/" class="article-more-link fs14 ttu b color-text nolink">Full list for CSAT math topics &rarr;</a>
</div>

<div class="topic">
  <h2 class="normal">🧠 <a href="/upsc-csat-logical-reasoning/" style="text-decoration: none">CSAT Logical Reasoning</a></h2>
  {{#get "posts" filter="primary_tag:upsc-csat-logical-reasoning" limit="5"}}
    {{#foreach posts}}
      <a href="{{url}}" title="{{title}}" class="article-link color-text nolink">{{title}}</a>
    {{/foreach}}
  {{/get}}
  <a href="/upsc-csat-logical-reasoning/" class="article-more-link fs14 ttu b color-text nolink">Full list for CSAT logical reasoning topics &rarr;</a>
</div>

<div class="topic">
  <h2 class="normal">📋 <a href="/upsc-csat-comprehension/" style="text-decoration: none">CSAT Comprehension</a></h2>
  {{#get "posts" filter="primary_tag:upsc-csat-comprehension" limit="5"}}
    {{#foreach posts}}
      <a href="{{url}}" title="{{title}}" class="article-link color-text nolink">{{title}}</a>
    {{/foreach}}
  {{/get}}
  <a href="/upsc-csat-comprehension/" class="article-more-link fs14 ttu b color-text nolink">Full list for CSAT comprehension topics &rarr;</a>
</div>