{{!< default}}

{{!-- Page template for Hub pages, with (desktop) sidebar --}}

<div class="main-content">

  {{#post}}
  <article class="{{post_class}}">

    <div class="post-header">

      <div class="container">

        {{#if feature_image}}
        <img src="{{img_url feature_image size="m"}}" alt="{{title}}" class="post-image" />
        {{/if}}

        <h1 class="lhtitle font-heading mb1 mt0 fs36">{{title}}</h1>

        {{#if custom_excerpt}}
        <h2 class="fs24 normal mb2">{{custom_excerpt}}</h2>
        {{/if}}

        <hr class="line">

      </div>

    </div>

    <div class="hub-cols mt4 container">
      <div class="post-content">

        <div class="table-of-contents">
          <h4 class="ttu mt0">{{t "On this page"}}</h4>
          <div class="toc"></div>
        </div>

        {{content}}

        {{#get "posts" filter="tag:{{slug}}" limit="all"}}
        <ul>
          {{#foreach posts}}
            <li>
              <a href="{{url}}" title="{{title}}" class="color-text">{{title}}</a>
            </li>
          {{/foreach}}
        </ul>
        {{/get}}
      </div>
      <div class="hub-sidebar">
        <h2 class="normal mt0">{{t "Browse Courses"}}</h2>
        <div class="toc">
          <ol class="toc-list">
            {{> hub-sidebar}}
          </ol>
        </div>
      </div>
    </div>

  </article>
  {{/post}}

</div>


{{#contentFor "scripts"}}
  {{> post-js}}
{{/contentFor}}