<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    upsc prelims course
  </title>

  <link rel="stylesheet" href="{{asset 'css/styles.css'}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.10.0/tocbot.css" />

  <script src="{{asset 'js/lite-yt-embed.js'}}"></script>
  <link rel="stylesheet" href="{{asset 'css/lite-yt-embed.css'}}" />
  <link rel="stylesheet" href="{{asset 'css/upsc-prelims-2024.css'}}" />

  {{{block "head_scripts"}}}

  {{ghost_head}}

</head>

<body>
  {{> site-nav}}
  <div class=" tc upsc-essential-2025">
    {{> upsc-prelims-2024/hero}}
    {{> upsc-prelims-2024/testimonials/all-top-testimonials}}
    {{> upsc-prelims-2024/feature-table}}
    {{> upsc-prelims-2024/features/all-free-guides}}
    {{> upsc-prelims-2024/mentors}}
    {{> upsc-prelims-2024/free-guide/all-free-guides}}
    {{> upsc-prelims-2024/essential-faq}}
    {{> upsc-prelims-2024/testimonials/all-bottom-testimonials}}
  </div>
  </div>
  <script>
    document.querySelector('body').style.backgroundColor = 'var(--upsc-essential-2025-bg-light)';
    document.querySelector('body').style.padding = 0;
  </script>
</body>

</html>