<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/hero.css'}}">
  <link rel="stylesheet" href="{{asset 'css/styles.css'}}">
  <title>upsc essential course</title>
  {{ghost_head}}
  <style>
    :root {
      --color-light-bg: {
          {
          @custom.background_color
        }
      }

      ;

      --home-slant-height: {
          {
          @custom.background_slant_height
        }
      }
    }
  </style>
</head>

<body>
  {{> site-nav}}
  <div class=" tc upsc-essential-2025">
    {{> upsc-essential-2025/hero}}
    {{> upsc-essential-2025/testimonials/all-top-testimonials}}
    {{> upsc-essential-2025/feature-table}}
    {{> upsc-essential-2025/mentors}}
    {{> upsc-essential-2025/free-guide/all-free-guides}}
    {{> upsc-essential-2025/essential-faq}}
    {{> upsc-essential-2025/testimonials/all-bottom-testimonials}}
  </div>
  </div>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/top-testimonial.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/feature-table.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/free-guide.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/faq.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/bottom-testimonial.css'}}">
  <link rel="stylesheet" href="{{asset 'css/upsc-essential-2025/mentors.css'}}">
  <script>
    document.querySelector('body').style.backgroundColor = 'var(--upsc-essential-2025-bg-light)';
    document.querySelector('body').style.padding = 0;
  </script>
</body>

</html>