<div class="essential-hero">
  {{#page}}
  <div class="essential-banner">
    <div class="home__intro mt2">
      <div class="fs20">
        {{content}}
      </div>
      <div class="mt2 mb3">
        {{^if @member}}
        <form data-members-form="subscribe" style="max-width: 480px">
          <div class="form-body">
            <div class="form-flex">
              <input data-members-email type="email" required="true" placeholder="{{t 'Email address'}}">
              <button type="submit"><span class="button-content">{{t "Get Started"}}</span><span
                  class="button-loader">{{t
                  "Submitting..."}}</span></button>
            </div>
            <p data-members-error style="color: red" class="mt0"></p>
          </div>
          <div class="success-message">
            <p class="mt0 mb0"><b>{{t "Thank you for joining!"}}</b><br>{{t "Please check your inbox for a link to
              confirm your email address."}}</p>
          </div>
        </form>
        {{/if}}
      </div>
    </div>

    <div class="home__video">
      {{#if feature_image}}
      <img src="{{img_url feature_image size=" m"}}" alt="{{title}}" />
      {{/if}}
    </div>
  </div>
  {{/page}}
  <div class="essential-stats">
    <div>
      <div class="stat-value">54</div>
      <div>Rankers in 2 years</div>
    </div>
    <div>
      <div class="stat-value">10000+</div>
      <div>Students joined</div>
    </div>
    <div>
      <div class="stat-value">20</div>
      <div>Expert led courses</div>
    </div>
    <div>
      <div class="stat-value">54</div>
      <div>Rankers in 2 years</div>
    </div>
  </div>
</div>