<div class="single-feature">
  <div class="course-feature-svg-wrapper">
    {{#if gs-csat-mains}}
    {{>"icons/upsc-essential/gs-csat-mains"}}
    {{else if rankers-as-educators}}
    {{>"icons/upsc-essential/rankers-as-educators"}}
    {{else if 1v1-mentorship}}
    {{>"icons/upsc-essential/1v1-mentorship"}}
    {{else if weekly-doubt-session}}
    {{>"icons/upsc-essential/weekly-doubt-session"}}
    {{else if access-for-3-years}}
    {{>"icons/upsc-essential/access-for-3-years"}}
    {{else if 300-hrs-lecture}}
    {{>"icons/upsc-essential/300-hrs-lectures"}}
    {{else if interactive-lecture}}
    {{>"icons/upsc-essential/interactive-lecture"}}
    {{else if practice-test}}
    {{>"icons/upsc-essential/practice-test"}}
    {{else if pyq-session}}
    {{>"icons/upsc-essential/pyq-session"}}
    {{else if mains-workbook}}
    {{>"icons/upsc-essential/mains-workbook"}}
    {{/if}}
  </div>
  <div class="course-feature-text">
    {{text}}
  </div>

</div>